.headerContainer {
    height: 100%;
    width: 100%;
    z-index: 2;
}

.mainAndFooterContainer {
    height: 100%;
    width: 100%;
}

header {
    height: 100dvh;
    color: aliceblue;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

.manuAndNavContainer {
    position: fixed;
    width: 100dvw;
    z-index: 9999;
}

.navManuContainer {
    position: relative;
    /* width: 465px; */
    justify-self: center;
}

.navManuContainer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px;
    margin: 20px auto;
    background-color: #00000036;
    border-radius: 10px;
    font-weight: bold;
    width: max-content;
}

.navManu .navUl2 {
    display: none;
}

.navManuContainer li {
    padding: 7px 7px 0px 7px;
    border-radius: 10px;
    margin: 0 10px;
    font-size: 15px;
    cursor: pointer;
}

.navManuContainer li:hover {
    background-color: #ffffff29;
}

.navManu li:hover a {
    color: rgb(30, 255, 0);
}

.navManu img {
    width: 25px;
    filter: invert();
    pointer-events: none;
}

.navManu li::after {
    content: '';
    transform: translateY(-25px);
    transition: 400ms ease;
    opacity: 0;
    font-size: 0;
    pointer-events: none;
}

.navManu li:hover::after {
    content: attr(data-name);
    background-color: transparent;
    color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    transform: translateY(13px) translateX(-5px);
    opacity: 0.8;
    text-transform: capitalize;
    font-size: 13px;
}

.headLineImgPair {
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 70dvh;
    z-index: 2;
    pointer-events: none;
    margin-top: 200px;
    position: absolute;
}

.headLine {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 50px;
    width: 100%;
    z-index: 11;
}

.headLineParagraph {
    line-height: 40px;
    opacity: 0.8;
}

.headLineImgPair h1 {
    font-size: 5dvw;
    margin: 10px 40px 20px 40px;
    font-family: "Italiana", sans-serif;
    letter-spacing: 5px;
    word-spacing: 10px;
    opacity: 1;
    filter: drop-shadow(0px 15px 5px rgb(0, 0, 0));
}

.font-color {
    color: #77ff00;
    color: aqua;
}

.headLineImgPair p {
    font-size: 3vw;
    margin: 40px;
    letter-spacing: 1px;
    word-spacing: 5px;
    opacity: 1;
    text-align: left;
}


.imgAndBottomLine {
    padding: 0px;
    position: relative;
    /* margin: 0 85px 0 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
}


.iconsContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: rotate(-8deg);
    width: clamp(300px, 50dvw, 425px);
    height: clamp(300px, 50dvw, 425px);
    pointer-events: all;
    /* background: rgba(173, 216, 230, 0.281); */
    /* filter: drop-shadow(0 0 6px rgb(235, 235, 235)) brightness(1.1); */
}

.iconsContainer .headerIcons {
    opacity: 0.5;
    width: 50px;
    position: absolute;
    /* filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.671)); */
    will-change: transform;
    transition: transform 5s ease-in-out;
    filter: brightness(1.1);
}

.iconsContainer .headerIcons:hover {
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.7)) brightness(1.3);
    cursor: pointer;
    opacity: 1;
}

.iconsContainer .github {
    right: 0;
}

.iconsContainer .linkdin {
    bottom: 0;
}

.iconsContainer .whatsapp {
    right: 0;
    bottom: 0;
}

.imgAndBottomLine .imgAndLottie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgAndLottie dotlottie-player {
    position: absolute;
    height: 171%;
    width: 200%;
    opacity: 1;
    filter: drop-shadow(100px 20px 34px black);
}

.imgAndLottie picture{
    display: contents;
}

.imgAndLottie img {
    width: 130%;
    opacity: 1;
    position: relative;
    display: block;
    filter: drop-shadow(91px 79px 37px rgba(0, 0, 0, 0.507));
}


.bottomLine {
    position: relative;
    font-size: 3.5dvw;
    margin: 0;
    width: 100%;
    height: 0;
    font-optical-sizing: auto;
    letter-spacing: 2px;
    font-family: "Italiana", sans-serif;
    font-weight: 900;
    font-style: normal;
    transition: 1s ease;
    text-shadow:
        1px 1px 0 rgb(0, 0, 0),
        2px 2px 0 rgb(26, 26, 26),
        3px 3px 0 rgb(41, 41, 41),
        4px 4px 0 #0aa,
        5px 5px 5px rgba(0, 255, 255, 0.3);


}

.bottomLine span {
    font-family: "Italiana", sans-serif;
    font-weight: 900;
    font-style: normal;
    transition: 1s ease;
    text-shadow:
        1px 1px 0 rgb(0, 0, 0),
        2px 2px 0 rgb(26, 26, 26),
        3px 3px 0 rgb(41, 41, 41),
        4px 4px 0 #0aa,
        5px 5px 5px rgba(0, 255, 255, 0.3);
}


.mainBoxContainer {
  height: 100dvh;
  height: 100%;
  width: 100%;
}

.mainBoxContainer h2 {
    font-size: 40px;
    margin: 0;
    /* filter: drop-shadow(0px 7px 3px black); */
    color: mediumturquoise;
    /* color: powderblue; */
    /* color: lightcyan; */
    transition: 1s ease;
    text-align: center;
}

.mainBoxContainer h3 {
    font-size: 50px;
    opacity: 1;
    font-weight: 200;
    /* margin: 0 auto 35px; */
}

.mainBoxContainer h4 {
    font-size: 18px;
    opacity: 1;
    font-weight: 400;
}

.mainBoxContainer p {
    opacity: 0.7;
    font-weight: 400;
}

.mainBoxContainer span {
    opacity: 0.7;
    font-weight: 400;
}

.mainBox {
    margin: auto;
    margin-top: 100px;
    height: 100%;
}


.mainBox dotlottie-player {
    /* filter: drop-shadow(30px 30px 5px black); */
}

.mainAndFooter {
  height: 100dvh;
  z-index: 999;
  position: relative;
  align-content: center;
  display: flex;
  justify-content: center;
}


.mainVideoPair {
    position: absolute;
    transition: all 1s ease;
    justify-content: space-evenly;
    font-size: 300%;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    color: #ffffffa4;
    display: flex;
    align-items: center;
    top: 0;
    height: 70%;
}

.mainVideoPair h3 {
    font-size: 50px;
    margin: 0;
}


.professional *,
.upToDateDesign *,
.responsiveAndSecure * {
    width: 50%;
    box-sizing: inherit;
    transition: inherit;
}

footer {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* bottom: 20px; */
    width: auto;
    margin: auto;
    justify-self: anchor-center;
    border: 1px solid #ffffff4d;
    border-radius: 20px;
    bottom: 0px;
}

footer p {
    cursor: pointer;
}

.reachUs {
    border-radius: 15px;
    font-size: 30px;
    /* animation: boxShadow 10s infinite; */
    color: rgb(255 255 255);
    word-spacing: 30px;
    letter-spacing: 25px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    filter: drop-shadow(15px 0 10px rgb(0, 0, 0));
    flex: 1;
    background-color: #ffffff21;
    text-align: center;
    padding: 30px;
    border-right: 1px solid #ffffff4d;
    color: mediumturquoise;
    color: powderblue;
    transition: 1s ease;
}

.contactElementBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 2;
    transform: scale(0.9);
}


.marketPlace h4,
.socialMedia h4,
.contact h4 {
    box-shadow: 0 0 2px 1px rgb(255 255 255 / 40%), inset -2px -5px 8px;
    /* box-shadow: inset -2px -6px 8px #0000009e; */
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 15px;
    transition: 400ms ease-in-out;
    width: fit-content;
    height: fit-content;
    background-color: mediumturquoise;
    color: #000000e8;
    font-weight: 600;
    padding: 10px;
    margin: 0;
}

.contactElement {
    margin: 15px 0 0 3px;
}

.contactElement p {
    border-radius: 15px;
    transition: 300ms ease-in-out;
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    margin: 10px 0 0 0;
    color: rgb(255 255 255);
    padding: 10px;
    font-weight: 400;
    border: 1px solid #ffffff4a;
}

.contactElement p>a {
    color: rgb(255, 255, 255);
}

.contactElement p:hover {
    background-color: rgb(255 255 255 / 15%);
}

.contactElement p:hover {
    width: fit-content;
    height: fit-content;
}


/*========MAINBOX ITEMS=======*/
#projects,
#tools,
#service,
#about,
#connect {
    position: absolute;
    justify-self: anchor-center;
}

#about h3,
#connect h3 {
    font-size: 20px;
    opacity: 0.7;
    font-weight: 400;
    margin: 0 auto 35px;
    text-align: center;
}

/*=======PROJECTS=======*/
#projects {
    width: 100dvw;
    padding: 0;
    z-index: 9999;
    /* position: relative; */
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.projectContainer img {
    width: 100%;
    display: block;
}

.screenShots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
}

.card {
    margin: 15px 30px;
    justify-items: center;
    border-radius: 10px;
    height: fit-content;
    /* filter: drop-shadow(25px 20px 19px rgb(0, 0, 0, 30%)); */
    border: 1px solid #48d1cc82;
}

.card h4 {
    margin: 0 0 5px 0;
}

.card p {
    margin: 7px 10px;
    line-height: 18px;
}

.card .buttonContainer {
    justify-self: end;
}

.card button {
    transition: 400ms ease-in-out;
    width: fit-content;
    height: fit-content;
    color: rgb(0 0 0);
    font-weight: 400;
    cursor: pointer;
    text-shadow: 0 0 5px #ffffff;
    background-color: #00000014;
    filter: invert();
    border-radius: 5px;
    padding: 2px 10px;
    margin: 5px 5px;
    border: none;
    margin-left: 0;
}

.card button img {
    width: 20px;
}

.card button:hover {
    background-color: #0000005b;
}

.card button::after {
    content: '';
    transform: translateY(-25px);
    transition: 400ms ease;
    opacity: 0;
    font-size: 0;
    pointer-events: none;
    width: max-content;
    /*invert the width that is already inverted by .card button styles*/
}

.card button:hover::after {
    content: attr(data-name);
    background-color: transparent;
    color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    transform: translateY(15px) translateX(-5px);
    opacity: 0.8;
    text-transform: capitalize;
    font-size: 13px;
    filter: invert();
}


/*=======SERVICE=======*/
#service {
    width: 100dvw;
    padding: 0;
    z-index: 9999;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: absolute;
    display: none;
}

#service h2 {
    top: 0px;
    position: fixed;
}

/*=======TOOLS=======*/
#tools {
    width: 100dvw;
    padding: 0;
    z-index: 9999;
    /* position: relative; */
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    display: none;
}

.toolsNav {
    display: flex;
    flex-direction: row;
    margin: 35px;
    background-color: #00000036;
    border-radius: 10px;
    font-weight: bold;
}

.toolsNav button {
    padding: 7px;
    border-radius: 10px;
    margin: 5px;
    font-size: 15px;
    background-color: #ffffff24;
    color: white;
    border: none;
    cursor: pointer;
}

.toolsContainer {
    padding: 10px;
    justify-items: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90dvw;
    max-width: 800px;
    filter: drop-shadow(28px 27px 14px rgba(0, 0, 0, 0.637));
}

.languageTools,
.frameworkTools,
.otherTools {
    display: flex;
}

.tool {
    background-color: #0000008f;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: #ffffffd2;
    display: grid;
    text-align: center;
    background-color: #00000000;
}

.toolsContainer img {
    width: 40px;
    padding: 10px;
    background-color: #ffffff1c;
    border-radius: 10px;
    margin: 10px;
}

/*=======ABOUT=======*/
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    position: absolute;
    display: none;
}

.aboutHeaderContainer {
    display: contents;
}

#about img {
    width: 30px;
    padding: 10px;
    background-color: #ffffff21;
    border-radius: 10px;
    margin-top: 5px;
}

.aboutSpecialization {
    width: 50%;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(28px 27px 14px rgba(0, 0, 0, 0.637));
}

.aboutSpecialization .tool {
    background-color: #0000003a;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutSpecialization .card {
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
    margin: -10px;
    padding: 0;
    border: none;
}


.aboutDetailsContainer {
    display: flex;
    width: 68dvw;
}


.aboutDetails {
    width: 50%;
    margin-right: 50px;
    box-shadow: inset -1px 1px 0px #ffffff54;
    padding-right: 28px;
}

/*======CONNECT=======*/
#connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    position: absolute;
    display: none;
}

#connect .formAndLinks {
    display: flex;
    justify-content: center;
    transform: scale(0.8) translateY(-100px);
}

#connect .form,
.connectLinks {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    background-color: #0000003a;
    border-radius: 15px;
    padding: 25px;
    border: 1px solid #ffffff47;
    width: 35dvw;
    max-width: 500px;
}

.form h4 {
    margin: 0;
}

.form p {
    margin: 5px 0 20px;
}

.form input,
textarea {
    display: block;
    border-radius: 10px;
    background-color: #ffffff1f;
    padding: 10px 15px;
    border: none;
    color: white;
    margin-bottom: 20px;
    width: -webkit-fill-available;
    width: -moz-available;
}

.form textarea {
    height: 110px;
}

.form input:focus,
textarea:focus {
    outline: solid 2px #ffffff5d;
    box-shadow: 0 0 5px 5px #00000069;
}

.form label {
    margin-bottom: 5px;
}

.form button {
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #ffffff;
}

.connectLinks h4 {
    margin: 0;
    margin-bottom: 2px;
}

.connectLinks>p {
    margin: 5px 0 20px;
}

.connectLinks a {
    display: flex;
    border: 1px solid #ffffff59;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: white;
}

.connectLinks a:hover {
    background-color: #ffffff1c;
}

.iconContainer img {
    width: 40px;
    filter: invert(1) brightness(0.8);
}

.connectLinks .nameContainer {
    overflow-wrap: anywhere;
}

.nameContainer p {
    margin: 0;
}

.thank-message {
    background-color: #adf3b4;
    position: absolute;
    box-shadow: 0 0 20px 2px #00fff3;
    text-align: center;
    width: fit-content;
    padding: 30px;
    pointer-events: none;
    opacity: 0;
    border-radius: 30px;
    color: black;
    transition: all 500ms ease;
}

.thank-message h3 {
    margin: auto !important;
    opacity: 1;
}

.thank-message p {
    opacity: 1;
}